input.rounded,textarea.rounded,select.rounded {
    border: 1px solid #C0C0C0;
    -moz-border-radius: 1px;
    -webkit-border-radius: 1px;
    border-radius: 4px;
    font-size: 14px;
    padding: 3px 5px;
    outline: 0;
    -webkit-appearance: none;
}

textarea{
    resize: none;
    height: 30;
}

input.rounded:focus {
    outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 10px #9ecaed;
}

textarea.rounded:focus {
    outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 10px #9ecaed;
}
select.rounded:focus {
    outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 10px #9ecaed;
}


.btn-primary {
    /*display: block;*/
    box-sizing: border-box;
    /*margin: 0 auto;*/
    padding: 8px;
    width: 80%;
    max-width: 80px;
    background: #fff; /* fallback color for old browsers */
    /*background: #9A0000;*/
    background: rgba(0, 155, 179, 0.9);
    border-radius: 3px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    letter-spacing: 1px;
    border: none;
    transition: all 0.3s ease-out;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
    background: rgba(154, 0, 0, 1);
    color: #fff;
    transition: all 0.5s ease-in;
}
.btn-primary:focus {
    outline: none;
}


.sbtn {
    /*display: block;*/
    box-sizing: border-box;
    /*margin: 0 auto;*/
    padding: 8px;
    width: 80%;
    max-width: 80px;
    background: #fff; /* fallback color for old browsers */
    /*background: #9A0000;*/
    background: rgba(0, 155, 179, 0.9);
    border-radius: 3px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    letter-spacing: 1px;
    border: none;
    transition: all 0.3s ease-out;
}
.sbtn:hover,
.sbtn:focus,
.sbtn:active {
    background: rgba(154, 0, 0, 1);
    color: #fff;
    transition: all 0.5s ease-in;
}
.sbtn:focus {
    outline: none;
}

/*--------------------------------------------------*/

/*.table-hover tbody tr:hover td, .table-hover tbody tr:hover {*/
    /*background-color: #FFF0F5 ;*/
    /*opacity: 0.9;*/
/*}*/
/*.table>tbody>tr>td {*/
    /*padding: 3px;*/
/*}*/




/*--------------------------------------------------*/

.navigation {
    /* critical sizing and position styles */
    width: 100%;
    height: 100%;
    overflow: scroll;
    position: fixed;
    top: 52px;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;

    /* non-critical appearance styles */
    list-style: none;
    background: #f2f2f3;
    /*#E5E4E2*/
    /*border: 1px solid #BCC6CC;*/
    border-radius: 4px;
    /*background: rgba(229, 228, 226, 0.5);*/
}

/* Navigation Menu - List items */
.nav-item {
    /* non-critical appearance styles */
    width: 200px;
    height: 36px;
    display: block;
    padding: 0.5em;
    /*background: linear-gradient(135deg, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);*/
    background: #ffffff;
    margin-bottom: 2px;
    border-radius: 3px
    font-size: 18px;
    /*font-weight: 400;*/
    letter-spacing: 1px;
    text-decoration: none;
    color: #666;
    transition: color 0.2s, background 0.5s;
}

.nav-item a {
    /* non-critical appearance styles */
    display: block;
    padding: 0.5em;
    /*background: linear-gradient(135deg, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);*/
    /*background: #ffffff;*/
    margin-bottom: 2px;
    border-radius: 3px
    font-size: 14px;
    /*font-weight: 400;*/
    letter-spacing: 1px;
    text-decoration: none;
    color: #666;
    transition: color 0.2s, background 0.5s;
    /*transition: all .1s ease-in-out;*/
}

.nav-item a:hover {
    color: #9A0000;
    /*background: linear-gradient(135deg, rgba(0,0,0,0) 0%,rgba(75,20,20,0.65) 100%);*/
    /*transform: scale(1.05);*/
}


/* Site Wrapper - Everything that isn't navigation */
.site-wrap {
    /* Critical position and size styles */
    min-height: 100%;
    min-width: 100%;
    background-color: #ffffff; /* Needs a background or else the nav will show through */
    position: relative;
    top: 0;
    bottom: 100%;
    left: 40;
    z-index: 1;

    /* non-critical apperance styles */
    /*padding: 1em;*/
    /*background-image: linear-gradient(135deg, rgb(254,255,255) 0%,rgb(221,241,249) 35%,rgb(160,216,239) 100%);*/
    /*background-size: 200%;*/
}

/* Nav Trigger */
.nav-trigger {
    /* critical styles - hide the checkbox input */
    position: absolute;
    clip: rect(0, 0, 0, 0);
}

label[for="nav-trigger"] {
    /* critical positioning styles */
    position: fixed;
    left: 15px; top: 1px;
    z-index: 2;

    /* non-critical apperance styles */
    margin-left: 160px;
    height: 50px;
    width: 50px;
    cursor: pointer;
    background-image: url('/resources/views/images/menu.png');
    background-size: contain;
}

/* Make the Magic Happen */
.nav-trigger + label, .site-wrap {
    transition: left 0.2s;
}

.nav-trigger:checked + label {
    left: 215px;
}

.nav-trigger:checked ~ .site-wrap {
    left: 203px;
    /*box-shadow: 0 0 5px 5px rgba(0,0,0,0.5);*/
}

body {
    /* Without this, the body has excess horizontal scroll when the menu is open */
    overflow-x: visible;
}




/* Micro reset */
*,*:before,*:after{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;margin:0;padding:0;}
html, body { height: 100%; width: 100%; font-family: Helvetica, Arial, sans-serif; }

/*min-height: 20px;*/
/*padding: 19px;*/
/*margin-bottom: 20px;*/
/*background-color: #f5f5f5;*/
/*border: 1px solid #e3e3e3;*/
/*border-radius: 4px;*/
/*-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);*/
/*box-shadow: inset 0 1px 1px rgba(0,0,0,.05);*/

.pagination > li > a,
.pagination > li > span {
    color: #9A0000; // use your own color here
}

.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover {
    background-color: #9A0000;
    border-color: #9A0000;
}